**/.vs
**/fr
**/ASPNetSpellInclude
**/packages
**/bin
**/obj
Notepad/UpgradeLog.htm
**/Release
Notepad/NotepadApp/NotepadApp.vdproj
Notepad/Notepad/repos - Shortcut.lnk
Aparna/Notepad/repos - Shortcut.lnk
