/Shruthi/WFTextEditor/bin/Debug/BouncyCastle.Crypto.dll
/Shruthi/WFTextEditor/bin/Debug/BouncyCastle.Crypto.pdb
/Shruthi/WFTextEditor/bin/Debug/credentials.json
/Shruthi/WFTextEditor/bin/Debug/Google.Apis.Auth.dll
/Shruthi/WFTextEditor/bin/Debug/Google.Apis.Auth.pdb
/Shruthi/WFTextEditor/bin/Debug/Google.Apis.Auth.PlatformServices.dll
/Shruthi/WFTextEditor/bin/Debug/Google.Apis.Auth.xml
/Shruthi/WFTextEditor/bin/Debug/Google.Apis.Core.dll
/Shruthi/WFTextEditor/bin/Debug/Google.Apis.Core.pdb
/Shruthi/WFTextEditor/bin/Debug/Google.Apis.Core.xml
/Shruthi/WFTextEditor/bin/Debug/Google.Apis.dll
/Shruthi/WFTextEditor/bin/Debug/Google.Apis.Drive.v3.dll
/Shruthi/WFTextEditor/bin/Debug/Google.Apis.Drive.v3.pdb
/Shruthi/WFTextEditor/bin/Debug/Google.Apis.Drive.v3.xml
/Shruthi/WFTextEditor/bin/Debug/Google.Apis.pdb
/Shruthi/WFTextEditor/bin/Debug/Google.Apis.PlatformServices.dll
/Shruthi/WFTextEditor/bin/Debug/Google.Apis.xml
/Shruthi/WFTextEditor/bin/Debug/log4net.dll
/Shruthi/WFTextEditor/bin/Debug/log4net.xml
/Shruthi/WFTextEditor/bin/Debug/Newtonsoft.Json.dll
/Shruthi/WFTextEditor/bin/Debug/Newtonsoft.Json.xml
/Shruthi/WFTextEditor/bin/Debug/test.dat
/Shruthi/WFTextEditor/bin/Debug/token.json/Google.Apis.Auth.OAuth2.Responses.TokenResponse-user
/Shruthi/WFTextEditor/bin/Debug/WFTextEditor.exe
/Shruthi/WFTextEditor/bin/Debug/WFTextEditor.exe.config
/Shruthi/WFTextEditor/bin/Debug/WFTextEditor.pdb
/Shruthi/WFTextEditor/bin/Debug/Zlib.Portable.dll
/Shruthi/WFTextEditor/bin/Debug/Zlib.Portable.xml
/Shruti/WFTextEditor/bin/Debug/BouncyCastle.Crypto.dll
/Shruti/WFTextEditor/bin/Debug/BouncyCastle.Crypto.pdb
/Shruti/WFTextEditor/bin/Debug/credentials.json
/Shruti/WFTextEditor/bin/Debug/Google.Apis.Auth.dll
/Shruti/WFTextEditor/bin/Debug/Google.Apis.Auth.pdb
/Shruti/WFTextEditor/bin/Debug/Google.Apis.Auth.PlatformServices.dll
/Shruti/WFTextEditor/bin/Debug/Google.Apis.Auth.xml
/Shruti/WFTextEditor/bin/Debug/Google.Apis.Core.dll
/Shruti/WFTextEditor/bin/Debug/Google.Apis.Core.pdb
/Shruti/WFTextEditor/bin/Debug/Google.Apis.Core.xml
/Shruti/WFTextEditor/bin/Debug/Google.Apis.dll
/Shruti/WFTextEditor/bin/Debug/Google.Apis.Drive.v3.dll
/Shruti/WFTextEditor/bin/Debug/Google.Apis.Drive.v3.pdb
/Shruti/WFTextEditor/bin/Debug/Google.Apis.Drive.v3.xml
/Shruti/WFTextEditor/bin/Debug/Google.Apis.pdb
/Shruti/WFTextEditor/bin/Debug/Google.Apis.PlatformServices.dll
/Shruti/WFTextEditor/bin/Debug/Google.Apis.xml
/Shruti/WFTextEditor/bin/Debug/log4net.dll
/Shruti/WFTextEditor/bin/Debug/log4net.xml
/Shruti/WFTextEditor/bin/Debug/Newtonsoft.Json.dll
/Shruti/WFTextEditor/bin/Debug/Newtonsoft.Json.xml
/Shruti/WFTextEditor/bin/Debug/test.dat
/Shruti/WFTextEditor/bin/Debug/token.json/Google.Apis.Auth.OAuth2.Responses.TokenResponse-user
/Shruti/WFTextEditor/bin/Debug/WFTextEditor.exe
/Shruti/WFTextEditor/bin/Debug/WFTextEditor.exe.config
/Shruti/WFTextEditor/bin/Debug/WFTextEditor.pdb
/Shruti/WFTextEditor/bin/Debug/Zlib.Portable.dll
/Shruti/WFTextEditor/bin/Debug/Zlib.Portable.xml
/Shruti/WFTextEditor/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Shruti/WFTextEditor/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Shruti/WFTextEditor/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Shruti/WFTextEditor/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Shruti/WFTextEditor/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Shruti/WFTextEditor/obj/Debug/WFTextEditor.csproj.CopyComplete
/Shruti/WFTextEditor/obj/Debug/WFTextEditor.csproj.CoreCompileInputs.cache
/Shruti/WFTextEditor/obj/Debug/WFTextEditor.csproj.FileListAbsolute.txt
/Shruti/WFTextEditor/obj/Debug/WFTextEditor.csproj.GenerateResource.cache
/Shruti/WFTextEditor/obj/Debug/WFTextEditor.csprojAssemblyReference.cache
/Shruti/WFTextEditor/obj/Debug/WFTextEditor.exe
/Shruti/WFTextEditor/obj/Debug/WFTextEditor.Form1.resources
/Shruti/WFTextEditor/obj/Debug/WFTextEditor.pdb
/Shruti/WFTextEditor/obj/Debug/WFTextEditor.Properties.Resources.resources
**/obj
**/bin
